<!DOCTYPE html>
<html>

<head>
  <title>
    cloudnote
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
  <div class="wrapers">
    <div class="headerwraper">
      <div class="headerinner">
        <div>
          <h3 class="logo">云笔记</h3>
        </div>
        <div class="right">
          <div class="serach">

          </div>
          <div class="writecloud">
            <a href="/write">写笔记</a>
          </div>

        </div>
      </div>
    </div>
    <section class="body_wraper">
      <div class="innerss">
        <div class="body_inner">
          <div class="articles_wraper">
            <div class="lunbo">
              <ul class="lunboul">
                <li class="imgitem">
                  <img class="lunboimg" src="/images/timg.jpg" alt="">
                </li>
              </ul>
              <div class="text_img">
                <p>this notes is very pretend bility</p>
              </div>
            </div>
          </div>
          <div class="loginwraper">
            <form class="inputitem" action="/login" method="POST">

              <input placeholder="邮箱" type="email" id="emain" name="email">
              <input type="password" placeholder="密码" name="password">
              <button class="btn bg1">登录</button>
              <button class="btn bg2">去注册</button>
            </form>
            <div class="formbottom">
              <p>this note id very nice to uwe</p>
              <p>都有什么人再用云笔记</p>
            </div>
          </div>

        </div>
        <div class="articless">
          <ul>
            <li class="artileitem">
              <div class="usermessage">
                <div class="userimg">
                  <img src="/images/author.png" alt="">
                </div>
                <div class="userdesc">
                  <div>
                    <p>
                      <span class="author">
                        笔记瓦尼
                      </span>
                      <span>|</span>
                      <span class="articletitle">
                        浅谈vuejs
                      </span>
                    </p>
                  </div>
                  <div>
                    <p class="ratings">
                      <span>浏览：</span>
                      <span>回复：</span>
                      <span>分类：</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="articlecontent">
                <p>
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                </p>
              </div>
            </li>
            <li class="artileitem">
              <div class="usermessage">
                <div class="userimg">
                  <img src="/images/author.png" alt="">
                </div>
                <div class="userdesc">
                  <div>
                    <p>
                      <span class="author">
                        笔记瓦尼
                      </span>
                      <span>|</span>
                      <span class="articletitle">
                        浅谈vuejs
                      </span>
                    </p>
                  </div>
                  <div>
                    <p class="ratings">
                      <span>浏览：</span>
                      <span>回复：</span>
                      <span>分类：</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="articlecontent">
                <p>
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                </p>
              </div>
            </li>
            <li class="artileitem">
              <div class="usermessage">
                <div class="userimg">
                  <img src="/images/author.png" alt="">
                </div>
                <div class="userdesc">
                  <div>
                    <p>
                      <span class="author">
                        笔记瓦尼
                      </span>
                      <span>|</span>
                      <span class="articletitle">
                        浅谈vuejs
                      </span>
                    </p>
                  </div>
                  <div>
                    <p class="ratings">
                      <span>浏览：</span>
                      <span>回复：</span>
                      <span>分类：</span>
                    </p>
                  </div>
                </div>

              </div>
              <div class="articlecontent">
                <p>
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容 内容 内容 内容
                  内容 内容 内容 内容 内容 内容
                </p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footerinner">
        <p>写笔记就到云笔记</p>
        <p>XDW</p>
      </div>
    </footer>
  </div>
</body>

</html>