<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="headerwraper">
        <div class="headerinner">
            <div>
                <h3 class="logo">云笔记</h3>
            </div>
            <div class="right">
                <div class="serach">

                </div>
                <div class="writecloud">
                    <a href="/write">写笔记</a>
                </div>

            </div>
        </div>
    </div>
    <section>
        <div id="div3">
        </div>

    </section>
    <footer class="footer">
        <div class="footerinner">
            <p>写笔记就到云笔记</p>
            <p>XDW</p>
        </div>
    </footer>
</body>
<script>
    var E = window.wangEditor
    var editor2 = new E('#div3')
    editor2.create()
</script>

</html>